; begin auth token
    //tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/registry/:username=Tipalti/vera.fhal
    //tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/registry/:_password=NTdkNms0Y29qaGRpbXZxemZidjMzZjZ0cDYza29rMnM0b3l3d2xwY2t0N3BmMnFweXFncQ==
    //tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/registry/:email=npm requires email to be set but doesn't use the value
    //tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/:username=Tipalti/vera.fhal
    //tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/:_password=NTdkNms0Y29qaGRpbXZxemZidjMzZjZ0cDYza29rMnM0b3l3d2xwY2t0N3BmMnFweXFncQ==
    //tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/:email=npm requires email to be set but doesn't use the value
; end auth token